*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Helvetica', Arial, sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.world {
    overflow: hidden;
    position: relative;
}

.score {
    position: absolute;
    font-size: 2.5vmax;
    right: 1vmax;
    top: 20vmin;
}

.high-score {
    position: absolute;
    font-size: 2.5vmax;
    right: 10vmax;
    top: 20vmin;
    color: rgb(160, 160, 160);
    text-transform: uppercase;
}

.start-screen {
    position: absolute;
    font-size: 3vmax;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

.ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
}

.dino {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom)* 1%);
}

.cactus {
    position: absolute;
    left: calc(var(--left)* 1%);
    height: 30%;
    bottom: 0;
}

.cloud {
    position: absolute;
    left: calc(var(--left)* 1%);
    width: 20vmin;
    top: calc(var(--top)* 1%);
    z-index: -1;
}